<div id="general-contact-overlay" class="overlay">
    <div class="inner">
        <span class="overlay-close">×</span>
        {{ render(controller('ScommerceBusinessBundle:Template:twigIncludeTwig', {'template':'Components/Form:contact_form.html.twig', 'data': {    }}, {})) }}
    </div>
</div>