{% extends '@App/main.html.twig' %}

{% block main_title %}PAGE NOT FOUND{% endblock %}

{% block content %}

    <div class="main-content">
        Page was not found. Check if your URL is correct.
    </div>
{% endblock %}
