<li class="dropdown">
    <a href="#"
       class="sp-header-btn"
       data-action="modal_add"
       title="{% trans %}Start timer{% endtrans %}"
       data-url="/block/modal?action=reload&attribute_set_code=activity"><i class="fa fa-clock"></i></a>
</li>