<li class="dropdown">
    <a href="#" class="hasnotifications dropdown-toggle" data-action="modal_add" title="{% trans %}Create new{% endtrans %}" data-url="{{ path('block_modal_view', {'pid': data.id, 'ptype': data.page.attributeSet.attributeSetCode, 'block_id':'20', 'action':'reload' }) }}" data-pid="{{ data.id }}" data-ptype="{{ data.page.attributeSet.attributeSetCode }}"><i class="fa fa-calendar-plus"></i></a>
</li>