<div data-attribute-id="{{ attribute.id }}" class="col-md-12 col-sm-12 col-xs-12 sp-sortable-group">
    <div class="sp-sortable-group-inner sp-show-border">
        <span class="sp-column-name">{{ attribute.id }} - {{ attribute.frontendLabel }}
            <div class="options">
                <span class="sp-hover" data-action="add_attribute"><i class="fa fa-plus"></i></span>
            </div>
        </span>
    </div>
</div>