/build/
/phpunit.xml
/var/*
/var
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea
/.idea/*
/.dep
/.dep/*
_backup/
.idea/
/hook_dev.php
/hook_prod.php
/error.log
error.log
error_log
/hook.log
/web/js/*
/web/css/*
/web/assetic/*
/web/bundles/*
/robots.txt
/web/robots.txt
/web/Documents/
/web/image_style/
/web/downloads/
/web/imports/
/web/tmp/
/staging_images/
/staging_images/*
/web/.htaccess
/web/image_style
/devsetup
node_modules
php.ini
.user.ini
/app/bootstrap.php.cache
/import
/web/xml
/web/xml/*
/web/behat-screenshots/
/web/behat-screenshots/*
nohup.out
*.sql
/web/backend/*
!/web/backend/style.css
/web/documents.tar.gz
/web/sitemap.xml

# Disable ENV files
.env
.env.*
!.env.example
behat-screenshots

/src/*/Entity
/src/*/Resources/config/doctrine

/web/frontend/builds/

# Disable bundles coming from composer
/src/AppBundle
/src/CrmBusinessBundle
/src/ScommerceBusinessBundle
/src/ImageOptimizationBusinessBundle
/src/GLSBusinessBundle
/src/PaymentProvidersBusinessBundle
/src/FinanceBusinessBundle
/src/WikiBusinessBundle
/src/DataTransferBusinessBundle
/src/DPDBusinessBundle
/src/ShapeBehat
/src/SharedInboxBusinessBundle
/src/NotificationsAndAlertsBusinessBundle
/src/HrBusinessBundle
/src/TaskBusinessBundle
/src/ProjectManagementBusinessBundle
/src/IntegrationBusinessBundle
/src/ToursBusinessBundle
/src/RulesBusinessBundle
/src/DynamicPricingBusinessBundle
/src/ShapeUnitTestingBundle
