<td {% if fieldClass is not empty %}class="{{ fieldClass }}"{% endif %}>{{ value }}
    <div class="color-box"
         style="background-color: {{ value }}; width: 12px; height: 12px;display: inline-block; margin-left: 5px;"></div>
</td>