<div id="inquiry-form-overlay" class="overlay">
    <div class="inner">
        <span class="overlay-close">{{ render(controller('ScommerceBusinessBundle:Template:twigIncludeTwig', {'template':'Components/Utilities/Icons:times.html.twig', 'data': {}}, {})) }}</span>
        {{ render(controller('ScommerceBusinessBundle:Template:twigIncludeTwig', {'template':'Components/Form:inquiry_form.html.twig', 'data': {}}, {})) }}
    </div>
</div>