{% if not is_user_logged_in() %}
    <div id="login-form-overlay" class="overlay">
        <div class="inner">
            <span class="overlay-close">×</span>
            <div class="popup-title">{% trans into current_language %}Login{% endtrans %}</div>
            {# Login #}
            {{ render(controller('ScommerceBusinessBundle:Template:twigIncludeTwig', {'template':'Components/Form:login_form.html.twig', 'data': {'triggerAction': 'global:page-reload'}}, {})) }}
        </div>
    </div>
{% endif %}