<div id="menu-display" class="overlay">
    <nav class="menu-display-inner">
        {{ render(controller('ScommerceBusinessBundle:Template:twigIncludeTwig', {'template':'Components/Menu:main_menu.html.twig', 'data': {}}, {})) }}
    </nav>
</div>