<table class="mWidth100" style="width:100%" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#fffffe">
    <tbody>
    <tr>
        <td style="width:800px;height:50px;background-position:center">
            <div>
                <table style="width:100%" border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
                    <tbody>
                    <tr>
                        <td align="center">
                            <a href="{{ base_url }}" target="_blank" style="width: 800px;height: 50px;background: {{ baseColor }};display: table-cell;color: #fff;text-decoration: none;vertical-align: middle;font-size: 50px;font-style: italic;font-weight: bold;border-bottom: 5px solid #333333;">&nbsp;</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>