<div data-id="{{ attributeGroup.id }}" class="col-xs-12 sp-sortable-group" data-holder="attribute_group">
    <div class="sp-sortable-group-inner sp-show-border">
        <span class="sp-column-name">{{ attributeGroup.attributeGroupName }}
            <div class="options">
                <span class="sp-hover margin-left-10" data-action="add_attribute_group"><i class="fa fa-plus"></i></span>
            </div>
        </span>
    </div>
</div>