{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrap">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 min-100vh">
                <div class="focusedform">
                    <div class="verticalcenter sp-verticalcenter">
                        {% set logo ="/backend/AppBundle/logo.png" %}
                        {% if file_exists("logo.png") %}
                            {% set logo ="/logo.png" %}
                        {% endif %}
                        <img src="{{ logo }}" alt="Logo" class="brand">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="form-group">
                                    <p>
                                        {{ 'resetting.check_email'|trans({'%email%': email}) }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}
