<div class="sp-block-outer sp-block-outer-{{ data.block.type }} {{ data.block.class }} {% if is_granted('ROLE_ADMIN') %}is_admin{% endif %}" {{ data.block.dataAttributes }}>
    <div class="container" id="cart">
        <div id="cart-success">
            {{ render(controller('ScommerceBusinessBundle:Template:twigIncludeTwig', {'template':'Components/Cart:cart_success.html.twig', 'data': {'data': data}}, {})) }}
        </div>
    </div>
</div>
