<div class="sp-block-outer sp-block-outer-{{ data.block.type }} {{ data.block.class }}" {{ data.block.dataAttributes }}>
    <div class="row">
        <div class="col-xs-12">
            <div class="content">
                <p>{% trans into current_language %}Subscribe to the{% endtrans %} <strong>{% trans into current_language %}newsletter{% endtrans %}</strong> {% trans into current_language %}and receive info about{% endtrans %}
                    <strong>{% trans into current_language %}discounts{% endtrans %}</strong>
                </p>
            </div>
        </div>
    </div>
</div>
