<div class="sp-block-outer sp-block-outer-{{ data.block.type }} section register-forms {{ data.block.class }}" {{ data.block.dataAttributes }}>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
            {{ render(controller('ScommerceBusinessBundle:Template:twigIncludeTwig', {'template':'Components/Form:new_password_form.html.twig', 'data': {'data': data, 'triggerAction': false}}, {})) }}
        </div>
    </div>
</div>
