<div class="sp-block-outer sp-block-outer-{{ data.block.type }} {{ data.block.class }}" {{ data.block.dataAttributes }}>
    <div class="row">
        {% trans into current_language %}No products found{% endtrans %}.
    </div>
</div>
