<tr>
    <td colspan="100">
        <div class="sp-empty-list-content">
            {#    <i class="fa fa-search" aria-hidden="true"></i>#}
            <label style="font-size: 14px;">{% trans %}No Items Found{% endtrans %}</label>
        </div>
    </td>
</tr>