<span title="{% trans %}Options{% endtrans %}" class="sp-options-text sp-options-text-attribute-group sp-admin-button" data-action="edit-block-modal-front" data-url="{{ path('page_block_update_form', {'id': data.block.id, 'form_type':'modal'}) }}">
    <i class="sp-icon sp-icon-settings sp-hover"></i>
</span>
<span title="{% trans %}Remove{% endtrans %}" class="sp-options-text sp-options-text-attribute-group sp-admin-button" data-action="remove-block-front" data-url="{{ path('page_block_remove', {'id': data.block.id}) }}">
    <i class="sp-icon sp-icon-disable sp-hover"></i>
</span>
