<div class="hidden payment-form">
    <form name="pay" id="paycek{{ data.cart }}" action="{{ data.action }}" method="POST">
        <input type="hidden" name="cart" value="{{ data.cart }}">
        <input type="submit" value="Buy">
    </form>
</div>
