<form id="appointment"
      class="ajax-submit"
      action="/dashboard/request_meeting"
      method="post">
    <span class="overlay-close">×</span>

    <input type="hidden" name="recaptcha_response" class="recaptchaResponse">

    <div class="row form-row full-width">
        <div class="form-group subject col-xs-12">
            <label for="subject">{% trans into current_language %}Subject{% endtrans %}*</label>
            <input type="text" name="subject" required>
        </div>
    </div>

    <div class="row form-row">
        <div class="form-group date-of-birth col-xs-12 col-sm-6">
            <label for="meeting_date">{% trans into current_language %}Date and time{% endtrans %}*</label>
            <input type='text' name="meeting_date" class='datetimepicker'/>
        </div>
        <div class="form-group phone col-xs-12 col-sm-6">
            <label for="email">{% trans into current_language %}Phone{% endtrans %}</label>
            <input type="text" name="phone">
        </div>
    </div>

    <div class="form-group submit">
        <input type="submit" value="{% trans into current_language %}Send{% endtrans %}" class="button btn-type-1">
    </div>
</form>