{% if data.model.token is defined and data.model.token %}
    <form id="new-password"
          action="/set_new_password"
          class="ajax-submit"
          data-trigger-action="{{ triggerAction }}">

        <input type="hidden" name="recaptcha_response" class="recaptchaResponse">
        <input type="hidden" name="token" value="{{ data.model.token }}">

        <div class="form-section">
            <div class="row form-row">
                <div class="form-group password col-xs-12">
                    <label for="password">{% trans into current_language %}New password{% endtrans %}*</label>
                    <input type="password" name="new_password" required class="full-width">
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group password-repeat col-xs-12">
                    <label for="password-repeat">{% trans into current_language %}Repeat password{% endtrans %}*</label>
                    <input type="password" name="new_password_2" required class="full-width">
                </div>
            </div>
        </div>

        <div class="form-group submit">
            <input type="submit" value="{% trans into current_language %}Send request{% endtrans %}" class="button btn-type-1">
        </div>
    </form>
{% else %}
    <div id="no-results">
        <div class="no-result-message">
            <h1>{% trans into current_language %}Invalid reset link{% endtrans %}</h1>
        </div>

        <div class="suggestion">
            <ul>
                <li>{% trans into current_language %}The provided password reset link seems to be invalid.{% endtrans %}</li>
            </ul>
        </div>
    </div>
{% endif %}
