<form data-validate="true" method="post" action="{{ path('add_remove_loyalty_points') }}" accept-charset="UTF-8"
      data-callback='["custom"]'
      data-custom-callback='["reloadPage"]'
      data-type="approve_rpn"
      data-attribute-set-code="approve_rpn"
      class="form-horizontal row-border">
    <div class="sp-block-group-wrapper">
        <div class="row">
            <div class="col-sm-12 col-xs-12 sp-block-wrapper">
                <div class="sp-block">
                    <div class="panel panel-midnightblue">
                        <div class="panel-body collapse in">
                            <span>{% trans %}Contact currently has{% endtrans %} <b>{{ points }}</b> {% trans %}loyalty points{% endtrans %}.</span>
                            <div class="form-group hidden" data-form-group="loyalty_card_id">
                                <input data-type="integer" class="form-control" type="text" name="loyalty_card_id" value="{{ loyaltyCard.getId() }}" />
                            </div>
                            <div class="form-group" data-form-group="loyalty_points" style="margin-top: 25px">
                                <label for="loyalty_points">{% trans %}Enter the value to subtract or add loyalty points{% endtrans %}:</label>
                                <input data-type="integer" class="form-control" type="number" name="loyalty_points" min="-{{ points }}" />
                            </div>
                        </div>
                        <br>
                        <span>{% trans %}To subtract loyalty points, enter a negative number{% endtrans %}: <b>-15</b></span><br>
                        <span>{% trans %}To add loyalty points, enter a positive number{% endtrans %}: <b>15</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-2">
                <div class="btn-toolbar">
                    <button type="submit" class="sp-btn btn-primary btn-blue btn" data-action="close-modal" data-url="">{% trans %}Spremi{% endtrans %}</button>
                    <button type="button" class="btn-default btn pull-right btn-red" data-dismiss="modal"><span aria-hidden="true">{% trans %}Zatvori{% endtrans %}</span></button>
                </div>
            </div>
        </div>
    </div>
</form>
