<div class="sp-block">
    <div class="panel panel-midnightblue">
        <div class="panel-body collapse in">
            <div class="panel-heading"><h5>{% trans %}Unauthorized access{% endtrans %}</h5></div>
            <img src="/backend/AppBundle/img/unauthorized.png" alt="unathorized" class="sp-unauthorized-icon"/>
        </div>
    </div>
</div>