{% extends '@App/main.html.twig' %}

{% block main_title %}ACCESS DENIED{% endblock %}

{% block content %}

    <div class="main-content">
        Not authorized to view this page
    </div>
{% endblock %}
