$primary_color: #673597 !default;
$secondary_color: #3a3633 !default;

$header_bg_1: #f3f3f3 !default;
$header_bg_2: #e2e2e2 !default;
$logo_bg: #fff !default;

$error: #a81515 !default;
$notice: #ffb000 !default;
$success: #85c744 !default;
