<div class="sp-block-outer sp-block-outer-{{ data.block.type }} blog-grid ajax {{ data.block.class }}" {% if data.page.templateType.code == "blog_category" %}data-category-id="{{ data.page.id }}"{% endif %} {{ data.block.dataAttributes }}>
    <div class="content">
        <div class="blog-grid-content"></div>
        <div class="text-center">
            <div class="section items-pager"></div>
        </div>
    </div>
</div>
