<!DOCTYPE html>
<html>
    <head>
    </head>
    <body style="padding-top: 15px;">
        <div style="margin-top: 25px; margin-bottom:-50px; padding-bottom:10px; text-align: center;">
            <img src="{{ get_env('SSL') }}://{{ get_env('FRONTEND_URL') ~ "/backend/AppBundle/img/shipshape_logo_header.png" }}" style="height: 75px; width:100px;"/>
        </div>
    </body>
</html>