<!DOCTYPE html>
<html>
    <body style="padding-bottom: 15px;">
        <div style="width:100%; display: inline-block">
            <div style="width: 100%; float: left; text-align: center;">
                <img src="{{ get_env('SSL') }}://{{ get_env('FRONTEND_URL') ~ "/backend/AppBundle/img/shipshape_logo_footer.jpg" }}" style="height: 25px; width:100px;"/>
                <p style="font-size: 12px; text-align: center;">&copy; Shipshape d.o.o. {{ "now"|date("Y") }}. | All rights reserved</p>
                <p style="font-size: 12px; text-align: center;">Folnegovi&#263;eva 6e, 10 000 Zagreb, Croatia | IBAN: HR8824020061100721658 | OIB: 49864588217</p>
            </div>
        </div>
    </body>
</html>