{% if product_groups is not empty %}
    <div class="title-small-styled">{% trans into current_language %}Categories{% endtrans %}</div>
    <ul>
        {% for product_group in product_groups %}
            <li><a href="/{{ product_group.getUrlPath(current_store_id) }}">{{ get_entity_store_attribute(current_store_id,product_group,"name") }}</a></li>
        {% endfor %}
    </ul>
{% endif %}