// Imports.
@import "../Global/variables";

.items-grid .product-display-grid {
  background: $white;
  display: flex;
  flex-direction: column;

  .image-wrapper {
    position: relative;

    .labels {
      position: absolute;
      top: 20px;
      left: 20px;
      right: 30px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      padding-right: 30px;

      .discount-mark {
        background: $secondary_color;
        text-transform: uppercase;
        height: 36px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 9px 18px 10px 17px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;

        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
      }

      .is-new {
        background: #C72121;
        text-transform: uppercase;
        height: 36px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 9px 18px 10px 17px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
      }
    }

    .actions {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0;
    }

    .product-display-grid-image {
      padding: 20px;
      display: block;

      img {
        width: 100%;
        height: 300px;
        object-fit: contain;
        object-position: center;
      }
    }

    .discount-counter {
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 20px;
      background: $secondary_color;
      height: 60px;
      border-bottom-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      display: flex;
      align-items: center;
      padding: 13px 18px 15px 17px;
      gap: 13px;

      .timer-label {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
      }

      .timer-counter {
        display: flex;
        flex: 1;
        justify-content: space-between;

        .item {
          display: flex;
          flex-direction: column;

          &.separator {
            .number {
              color: #4F7A12;
            }
          }

          .number {
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            color: #FFFFFF;
          }

          .number-label {
            text-transform: uppercase;
            font-style: normal;
            font-weight: 500;
            font-size: 8px;
            line-height: 10px;
            text-align: center;
            color: #4F7A12;
          }
        }
      }
    }
  }

  .product-info {
    padding: 0 20px;
    margin-bottom: 13px;
    flex: 1;

    .product-data {
      display: flex;
      align-items: center;
      gap: 12px;

      .product-brand-link {
        text-transform: uppercase;
        color: $primary_color;
        font-weight: 700;

        &:hover {
          color: $secondary_color;
        }

        img {
          width: 50px;
          object-fit: contain;
          object-position: center;
          height: 20px;
        }
      }

      .code {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #B0B0B0;
        flex: 1;
      }

      .availability {
        .available {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: $secondary_color;
          position: relative;
          padding-right: 14px;

          &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: $secondary_color;
          }
        }

        .not-available {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #C72121;
          position: relative;
          padding-right: 14px;

          &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #C72121;
          }
        }
      }
    }

    .availability {
      flex: 1;
      margin: 10px 0;
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;

      .available {
        color: #A2CF63;
      }

      .not-available {
        color: #C72121;
      }
    }

    h3 {
      margin: 0 0 2px 0;

      a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #3B3B3D;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
      }
    }
  }

  .prices {
    padding: 0 20px;
    margin-bottom: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .price {
      display: flex;
      justify-content: space-between;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #3B3B3D;

      &.has-discount {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: line-through;
        color: #9C9C9C;
      }

      .currency {
        font-size: 10px;
        white-space: nowrap;
        line-height: normal;
        display: inline-block;
      }
    }
  }

  .lowest-price {
    font-size: calculateRem(14px);
    display: flex;
    flex-direction: column;

    .price {
      font-size: calculateRem(14px);
      color: #000;
    }
  }

  .actions {
    padding: 0 20px 20px;

    .item-cart {
      button {
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 0 15px;
        font-size: 16px;

        svg {
          width: 20px;
          height: auto;

          * {
            transition: all 0.2s;
          }
        }

        &:hover {
          svg {
            * {
              fill: $primary_color;
            }
          }
        }
      }
    }
  }
}