<div id="no-results">
    <div class="no-result-message">
        {% trans into current_language %}Your favorites are empty{% endtrans %}.
    </div>

    <div class="suggestion">
        <ul>
            <li>{% trans into current_language %}Click the heart icon to add a product to your favorites{% endtrans %}</li>
        </ul>
    </div>
</div>
