<div id="no-results">
    <div class="no-result-message full-width">
        {% trans into current_language %}We are sorry! We couldn't find any results matching your search{% endtrans %} <strong>"{{ term }}"</strong>.
    </div>
</div>