<div id="no-results">
    <div class="no-result-message">
        {% trans into current_language %}We are sorry! We couldn't find any results matching your search{% endtrans %}.
    </div>

    <div class="suggestion">
        <ul>
            <li>{% trans into current_language %}Try filtering by attributes{% endtrans %}</li>
            <li>{% trans into current_language %}Try searching for product using the search bar{% endtrans %}</li>
            <li><a href="{{ get_page_url(current_store_id,35,"s_page") }}">{% trans into current_language %}Contact us{% endtrans %}</a> {% trans into current_language %}for help{% endtrans %}</li>
        </ul>
    </div>
</div>
