<div class="discount-register">
    <a href="{{ current_language_url }}/{{ get_page_url(current_store_id,52,"s_page") }}">
        <img src="/frontend/images/discount_register.png">
        <span>Ostvarite popuste i ostale pogodnosti!</span>
        <button class="button">{% trans into current_language %}Register{% endtrans %}</button>
    </a>
</div>