.sp-component-state-1{

}

.sp-component-state-2{
    background-color: lightskyblue;
}

.sp-component-state-3{
     background-color: lightgreen;
}
.sp-component-state-4{
    background-color: lightcoral;
}