<div id="accessibility-tools">
    <span class="accessibility-tools-toggle" title="{% trans into current_language %}Accessibility{% endtrans %}"></span>
    <div class="accessibility-tools">
        <ul>
            <li class="contrast-toggle" title="{% trans into current_language %}High contrast{% endtrans %}"></li>
            <li class="increase-font" title="{% trans into current_language %}Increase font{% endtrans %}"></li>
            <li class="decrease-font" title="{% trans into current_language %}Decrease font{% endtrans %}"></li>
            <!--      <li class="reset-font"></li>-->
            <li class="readable-font" title="{% trans into current_language %}Readable font{% endtrans %}"></li>
            <li class="underline-links" title="{% trans into current_language %}Underline links{% endtrans %}"></li>
        </ul>
    </div>
</div>