<div id="eu-compliance">
    <ul class="eu-compliance">
        <li><a href="https://labtexfondovi.com.hr/" rel="noopener" target="_blank"><img src="/frontend/images/eu_compliance/eu_cb.jpg"></a></li>
        <li><a href="https://strukturnifondovi.hr/" rel="noopener" target="_blank"><img src="/frontend/images/eu_compliance/eu-esi.svg"></a></li>
        <li><a href="https://strukturnifondovi.hr/" rel="noopener" target="_blank"><img src="/frontend/images/eu_compliance/ESF - uljp.jpg"></a></li>
        <li><a href="https://zaklada.civilnodrustvo.hr/" rel="noopener" target="_blank"><img src="/frontend/images/eu_compliance/razvoj_civilnog_drustva.png"></a></li>
    </ul>
</div>