<span class="third-party-button facebook-sign-in-button">
    {{ render(controller('ScommerceBusinessBundle:Template:twigIncludeTwig', {'template':'Components/Utilities/Icons:facebook.html.twig', 'data': {}}, {})) }}
    <span>{% trans into current_language %}Log in with Facebook{% endtrans %}</span>
</span>