<span class="third-party-button google-sign-in-button">
    {{ render(controller('ScommerceBusinessBundle:Template:twigIncludeTwig', {'template':'Components/Utilities/Icons:google.html.twig', 'data': {}}, {})) }}
    <span>{% trans into current_language %}Sign in with Google{% endtrans %}</span>
</span>