<div id="internet-explorer-overlay" class="overlay always-active">
    <div class="inner text-center">
        <div class="title">Koristite zastarjelu verziju web preglednika!</div>
        <div class="info">Za ispravan rad molimo otvorite stranicu u nekom od modernijih preglednika.</div>
        <br>
        <br>
        <div>
            <table>
                <tr>
                    <td><a href="https://www.google.com/chrome/" target="_blank"><img src="/backend/ScommerceBusinessBundle/images/browser/chrome.png" width="50" height="50"/></a></td>
                    <td><a href="https://www.mozilla.org/hr/firefox/new/" target="_blank"><img src="/backend/ScommerceBusinessBundle/images/browser/firefox.png" width="50" height="50"/></a></td>
                    <td><a href="https://www.microsoft.com/en-us/edge" target="_blank"><img src="/backend/ScommerceBusinessBundle/images/browser/edge.png" width="50" height="50"/></a></td>
                    <td><a href="https://www.opera.com/download" target="_blank"><img src="/backend/ScommerceBusinessBundle/images/browser/opera.png" width="50" height="50"/></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>