<div class="row footer-siganture text-center" style="padding: 20px">
    <div class="col-xs-12">
        <a href="https://shipshape-solutions.com/en/custom-ecommerce-solutions" title="Web shop izrada Shipshape solutions" target="_blank" class="sp-signature" style="color: #bbb;">
            <small>{% trans into current_language %}Webshop created by{% endtrans %}</small>&nbsp;<img style="height:20px;margin-left: 10px;" class="b-lazy"
                                                                                                       src="/frontend/image_loading.gif"
                                                                                                       data-src="https://shipshape-solutions.com/sites/default/files/uploads/inline-images/logo_footer.png"
                                                                                                       alt="ShipShape Solutions"
                                                                                                       title="ShipShape Solutions"
                                                                                                       width="115" height="20">
        </a>
    </div>
</div>
